:root {
	--azul: #0A3871;
	--gris: #495057;
	--grisOscuro: #343A40;
	--celeste: #F3F5FC ;
	--celeste2: #D8DFE8;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	letter-spacing: 1px;
	line-height: 1.3;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
}
body {
	background: var(--celeste);
}
button{
	cursor: pointer;
}

/* Encabezado */
header {
	width: 100%;
}
.container__header{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
	height: 80px;
}
.header {
	width: 90%;
	height: auto;
	margin: auto;
	display: flex;
	align-items: center;
	gap: .5em;
}
.logo{
	max-height: 45px;
	height: 100%;
	min-height: 40px;
}

/* Principal */
.container {
	margin: auto 40px auto auto;
	width: 90%;
	align-items: end;
	min-height: calc(99vh - 80px - 56px);
	display: grid;
	padding: 1rem;
	grid-template-columns: 2.5fr 1fr;
	gap: 1rem;
}

/* Izquierda */
.left {
	width: 100%;
	height: 92%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.inputtextarea {
	width: 100%;
	max-height: 350px;
	min-height: 50px;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
	font-size: 32px;
	color: var(--azul);
	font-family: 'Inter', sans-serif;
}
textarea::placeholder {
	color: var(--azul);
}
.content_botones {
	min-height: 80px;
}
.info {
	display: flex;
	align-items: center;
	gap: 10px;
	text-align: center;
	font-size: 16px;
	color: var(--gris);
}
.botones {
	display: flex;
	align-items: start;
	/* justify-content: space-between; */
	padding:.8rem 0;
	flex-wrap: wrap;
	gap: .8rem;
}
.button__encriptar,
.button__desencriptar,
.button__copiar {
	width: 45%;
	max-width: 328px;
	min-width: 160px;
	height: 67px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 24px;
	border: none;
	outline: 1px solid var(--azul);
	background: var(--azul);
	color: white;
}
.button__desencriptar {
	background: var(--celeste2);
	color: var(--azul);
}
.button__copiar{
	background: none;
	color: var(--azul);
	width: 100%;
	min-width: 100px;
}
.bn_ocultar {
	display: none;
}

/* Derecha */
.right {
	align-items: center;
	width: 100%;
	height: calc(100% + 60px);
	background: white;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 16px;
	gap: 32px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.ajuste{
	justify-content: space-between;
}
.munheco{
	min-width: 230px;
	width: 50%;
}
.ocultar{
	display: none;
}
.textoFinal{
	width: 100%;
	font-size: 24px;
	color: var(--grisOscuro);
	border: none;
	outline: none;
	text-align: center;
	overflow: hidden;
	resize: none;
	pointer-events: none;
	font-family: 'Inter', sans-serif;
}
.textoFinal::placeholder{
	color: var(--grisOscuro);
}
.ajustar {
	height: auto;
	min-height: calc(100% - 67px - 32px);
	pointer-events: all;
	text-align: left;
	overflow: auto;
}

/* Pie de página */
footer {
	width: 100%;
	min-height: 56px;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.creador{
	font-size: 18px;
}
.usuario{
	color: #000;
}
.links{
	width: 30px;
}

/* Mediaqueris */
@media screen and (max-width: 840px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 65% auto;
		margin: auto;
	}
	.title {
		font-size: 28px;
	}
	.inputtextarea{
		max-height: 270px;
		font-size: 26px;
	}
	.info{
		font-size: 12px;
	}
	.right{
		height: 100%;
	}
	.right.ajustar {
		height: 100%;
	}
	.munheco{
		display: none;
	}
	.textoFinal{
		font-size: 18px;
	}
	.creador{
		font-size: 14px;
	}
}
@media screen and (max-width: 440px){
	.button__encriptar,
	.button__desencriptar,
	.button__copiar {
		width: 100%;
		height: 50px;
		border-radius: 19px;
		font-size: 14px;
	}
	.title{
		width: 50%;
		font-size: 22px;
	}
	.inputtextarea{
		max-height: 200px;
		font-size: 20px;
	}
	.info{
		font-size: 10px;
	}
	.textoFinal{
		font-size: 16px;
	}
}
@media screen and (max-width: 230px) {
	.button__encriptar,
	.button__desencriptar,
	.button__copiar {
		width: 100%;
		min-width: 100%;
		height: 40px;
		border-radius: 15px;
		font-size: 12px;
	}
}